@page
@model IndexModel
@{
    ViewData["Title"] = "Inventory System Home Page";
}

<div class="text-center">
    <h1 class="display-4">ยินดีต้อนรับ</h1>
    <p>ร้านขนมออนไลน์ที่น่ากินที่สุดในกรุงเทพฯ</p>
    <img src="/images/Korn.png" width="50%" />
</div>
